@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    
}

body {
    background: url(imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    
}


/* iframe e elementos do celular */
#cmagem{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 580px;
}
#frame{
    height: 70vh;
    width: 40vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -49.5%);
    background-color: white;
}
/* */





/* parte dos icones de lado */
.imagens {
    border-radius: 100%;
    height: 50px;
    width: 50px;
    margin-top: 1%; 
    box-sizing: border-box; 
    box-shadow: 5px 5px 15px black;
}

.imagens:hover {
    border: 2px solid rgba(255, 255, 255, 0.486);
}


.imagens:hover {
    transform: translate(-10%,-10%);
    box-shadow: 10px 10px 25px black;
    transition: transform 0.5s, border 1s;
}


.position {
    text-align: right;
}
