@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url(fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    
}


/* iframe e elementos do celular */
#cmagem{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 580px;
}
#frame{
    height: 55vh;
    width: 22vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    background-color: white;
}
/* */





/* parte dos icones de lado */
.imagens {
    border-radius: 100%;
    height: 50px;
    width: 50px;
    padding: 5px;
    margin-top: 1%;
    display: flex;
    
}
#home {
    position: absolute;
    left: 94%;
}
#youtube {
    position: absolute;
    left: 94%;
    top: 10%;
}
#git {
    position: absolute;
    left: 94%;
    top: 20%;
}
#insta {
    position: absolute;
    left: 94%;
    top: 30%;
}
#twitter {
    position: absolute;
    left: 94%;
    top: 40%;
}
#facebook {
    position: absolute;
    left: 94%;
    top: 50%;
}
/* */